<% if @properties.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@properties.errors.count, "error") %> prohibited this <%= @properties.name %> from being saved:</h2>
    <ul>
    <% @properties.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @properties, local: true) do |f| %>  
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :rent %><br>
  <%= f.number_field :rent %>円<br>
  <%= f.label :address %><br>
  <%= f.text_field :address %><br>
  <%= f.label :age %><br>
  <%= f.number_field :age %>年<br>
  <%= f.label :remark %><br>
  <%= f.text_area :remark %><br>
  <%= f.fields_for :stations do |s| %>
    <%= "最寄り駅#{s.index + 1}" %><br>
    <%= s.label :name %><br>
    <%= s.text_field :name %><br>
    <%= s.label :route %><br>
    <%= s.text_field :route %><br>
    <%= s.label :walk_minutes %><br>
    <%= s.number_field :walk_minutes %>分<br>
  <% end %>
  <%= f.submit "投稿する" %><br>
<% end %>
<%= link_to "戻る", properties_path %>