<h1>閲覧</h1>
<div class = "main">
  <span class="show_title">物件名：</span>
  <%= @properties.name %><br>
  <span class="show_title">賃料：</span>
  <%= "#{@properties.rent.to_s(:delimited)}円" %><br>
  <span class="show_title">住所：</span>
  <%= @properties.address %><br>
  <span class="show_title">築年数</span>
  <%= " #{@properties.age}年" %><br>
  <span class="show_title">備考</span>
  <%= " #{@properties.remark}" %><br>
  <hr>
  <% @properties.stations.each.inject(1) do |i,s| %>
    <div class="show_station_index">
      <%= " 最寄り駅#{i}" %>
    </div>
    <br>
    <span class="show_title">路線名</span>
    <%= " #{s.route}" %><br>
    <span class="show_title">駅名</span>
    <%= " #{s.name}" %><br>
    <span class="show_title">徒歩分数</span>
    <%= " #{s.walk_minutes}分" %><br>
    <% i += 1 %>
  <% end %>
  <%= link_to "編集", edit_property_path(@properties.id) %>
  
  <%= link_to "戻る", properties_path, class: "v_line_left" %>
</div>